{% extends 'base.html.twig' %}

{% block title %}Producteur index{% endblock %}
{% block page %}Producer{% endblock %}
{% block menu %}
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
        <li><a class="hover:text-gray-200" href="{{ path('home') }}">Home</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('beer_index') }}">Beer</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('client_index') }}">Client</a></li>
    </ul>
{% endblock %}


{% block body %}
    <h1 class="font-serif font-medium text-2xl">Producteur index</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th class="w-1/5">Id</th>
                <th class="w-1/5">Name</th>
                <th class="w-1/5">Email</th>
                <th class="w-1/5">Photo</th>
                <th class="w-1/5">DateOfBirth</th>
            </tr>
        </thead>
        <tbody>
        {% for producteur in producteurs %}
            <tr>
                <td class="w-1/5 text-center">{{ producteur.id }}</td>
                <td class="w-1/5 text-center">{{ producteur.name }}</td>
                <td class="w-1/5 text-center">{{ producteur.email }}</td>
                <td class="w-1/5 text-center"><img src="{{ producteur.photo }}"></td>
                <td class="w-1/5 text-center">{{ producteur.dateOfBirth|date("m/d/Y") }}</td>
                <td class="w-1/5 text-center">
                    <a href="{{ path('producteur_show', {'id': producteur.id}) }}"><button class="border-2 border-black">show</button></a>
                    <a href="{{ path('producteur_edit', {'id': producteur.id}) }}"><button class="border-2 border-black">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('producteur_new') }}"><button class="rounded-full py-1 px-2 border-2 border-black" > Create new </button></a>
{% endblock %}
