{% extends 'base.html.twig' %}

{% block title %}Brewerie index{% endblock %}

{% block body %}
    <h1>Brewerie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Brand</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brewerie in breweries %}
            <tr>
                <td>{{ brewerie.id }}</td>
                <td>{{ brewerie.name }}</td>
                <td>{{ brewerie.adress }}</td>
                <td>{{ brewerie.brand }}</td>
                <td>{{ brewerie.city }}</td>
                <td>{{ brewerie.state }}</td>
                <td>{{ brewerie.country }}</td>
                <td>{{ brewerie.zipcode }}</td>
                <td>
                    <a href="{{ path('brewerie_show', {'id': brewerie.id}) }}">show</a>
                    <a href="{{ path('brewerie_edit', {'id': brewerie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('brewerie_new') }}">Create new</a>
{% endblock %}
