{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}
{% block page %}Beer{% endblock %}
{% block menu %}
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
        <li><a class="hover:text-gray-200" href="{{ path('home') }}">Home</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('producteur_index') }}">Producer</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('client_index') }}">Client</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1 class="font-serif font-medium text-2xl">Beer index</h1>
    <br>
    <table class="table-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td>{{ beer.id }}</td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.type }}</td>
                <td>
                    <a href="{{ path('beer_show', {'id': beer.id}) }}"><button class="rounded-full py-1 px-2 border-2 border-black"> Show</button></a>
                    <a href="{{ path('beer_edit', {'id': beer.id}) }}"><button class="rounded-full py-1 px-2 border-2 border-black"> Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('beer_new') }}"><button class="rounded-full py-1 px-2 border-2 border-black" > Create new </button> </a>

{% endblock %}
