{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}
{% block page %}Client{% endblock %}
{% block menu %}
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
        <li><a class="hover:text-gray-200" href="{{ path('home') }}">Home</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('beerview') }}">Beer</a></li>
        <li><a class="hover:text-gray-200" href="{{ path('producteur_index') }}">Producer</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1 class="font-serif font-medium text-2xl">Client index</h1>
    <br>
    <table class="table-auto">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>DateOfBirth</th>
                <th>Prenom</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.dateOfBirth|date("m/d/Y") }}</td>
                <td>{{ client.prenom }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"><button class="rounded-full py-1 px-2 border-2 border-black">show</button></a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><button class="rounded-full py-1 px-2 border-2 border-black">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('client_new') }}"><button class="rounded-full py-1 px-2 border-2 border-black" > Create new </button></a>
{% endblock %}
